@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    width: -webkit-fill-available;
    height: 100vh;
    object-fit: fill;
}

.transparent-text {
    background-color: white;
    color: black;
    font-size: 10vw;
 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}