.leaderboard {
  background: rgb(27, 136, 166);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
}

.leaderboard h2 {
  margin-bottom: 1rem;
}

.podium {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.podium-item {
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: #f0f0f0;
  position: relative;
  width: 100px; /* Adjust as needed */
}

.podium-rank {
  font-size: 1.5rem;
  font-weight: bold;
}

.podium-user,
.podium-score {
  margin: 5px 0;
}

.podium-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.leaderboard-list {
  list-style-type: none;
  padding: 0;
}

.leaderboard-list li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.leaderboard-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
