/* src/components/Quiz.css */
.quiz-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-image {
  width: 200px;
  margin: 20px 0;
}

.range-slider {
  width: 80%;
  margin: 20px 0;
}

.options {
  display: flex;
  flex-direction: column;
}

.options label {
  margin: 5px 0;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

/* Common styles for nav-buttons */
.nav-button {
  background-color: rgba(0, 0, 0, 0.1); /* Light gray background */
  border: none;
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: fixed; /* Position fixed for outside card */
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensure it appears above other elements */
}

.nav-button.left {
  left: 20px; /* Positioning for left button */
}

.nav-button.right {
  right: 20px; /* Positioning for right button */
}

.nav-button:hover {
  transform: translateY(-50%) scale(1.2); /* Increase size on hover */
  background-color: rgba(0, 0, 0, 0.2); /* Slightly darker background on hover */
}

.progress-bar {
  width: 100%;
  background: #eee;
  height: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

.progress {
  height: 100%;
  background: orange;
  border-radius: 5px;
}

/* src/pages/Quiz.css */
.summary {
  text-align: center;
  margin-top: 50px;
}

.summary h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.summary p {
  font-size: 1.5em;
  margin: 10px 0;
}
